<%- include('../includes/header.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>

    <p>Hi</p>
    
</body>
</html>